<!--<form class="form-signin">-->
<!--<h2 class="form-signin-heading">Connexion</h2>-->
<!--<input type="text" class="form-control" placeholder="Email" autofocus="">-->
<!--<input type="password" class="form-control" placeholder="Password">-->
<!--<button class="btn btn-lg btn-primary btn-block" type="button" ng-click="connectionGoogle()">Login Google+</button>-->
<!--<button class="btn btn-lg btn-primary btn-block" type="button" ng-click="connectionFacebook()">Login Facebook</button>-->
<!--<button class="btn btn-lg btn-primary btn-block" type="button" ng-click="connectionLinkedin()">Login Linkedin</button>-->
<!--<button class="btn btn-lg btn-primary btn-block" type="button" ng-click="connectionTwitter()">Login twitter</button>-->
<!--</form>-->

<div id="content">
    <div class="container-fluid">
        <div class="lock-container">
            <h1>Account Access</h1>
            <div class="panel panel-default text-center">
                <img src="images/people/110/angular.png" class="img-circle">
                <div class="panel-body">
                    <input class="form-control" type="text" placeholder="Username">
                    <input class="form-control" type="password" placeholder="Enter Password">
                    <a ng-click="connectionFacebook()" class="btn btn-primary">Login <i class="fa fa-fw fa-unlock-alt"></i></a>
                    <a  class="forgot-password">Forgot password?</a>
                </div>
            </div>
        </div>
    </div>
</div>








