<div class="cover profile">
    <div class="wrapper">
        <div class="image">
            <img src="images/social/wallPhoto.jpg" alt="people"/>
        </div>
        <ul class="friends">
            <li ng-repeat="photo in photosProfile">
                <img ng-src="{{photo.picture}}" alt="image" width="85" height="85"/>
            </li>
        </ul>
    </div>
    <div class="cover-info">
        <div class="avatar">
            <img src="{{profileImage}}" alt="people"/>
        </div>
        <div class="name"><a href="#">{{userProfile.fullName}}</a>
        </div>
        <ul class="cover-nav">
            <li ><a href="#/profile"><i
                    class="fa fa-fw icon-user-1"></i> About</a>
            </li>
            <li><a href="#/publicFriends"><i class="fa fa-fw fa-users"></i> Friends</a>
            </li>
            <li><a href="#/feeds"><i class="fa fa-fw icon-ship-wheel"></i>
                Timeline</a>
            </li>
            <li><a href="#/searchUsers"><i class="fa fa-fw icon-ship-wheel"></i>
                Search Users</a>
            </li>
        </ul>
    </div>
</div>