<div class="cover profile">
    <div class="wrapper">
        <div class="image">
            <img src="images/social/wallPhoto.jpg" alt="people"/>
        </div>
        <ul class="friends">
            <li ng-repeat="friend in friends">
                <a ng-href="{{friend.siteStandardProfileRequest.url}}">
                    <img ng-src="{{friend.profilePictureUrl}}" alt="image"/>
                </a>
            </li>
        </ul>
    </div>
    <div class="cover-info">
        <div class="avatar">
            <img src="{{profileImage}}" alt="people"/>
        </div>
        <div class="name"><a href="#">{{userProfile.firstName}} {{userProfile.lastName}}</a>
        </div>
        <ul class="cover-nav">s
            <li><a href=#/feeds"><i class="fa fa-fw icon-ship-wheel"></i>
                Timeline</a>
            </li>
            <li class="active"><a href="#/profile"><i
                    class="fa fa-fw icon-user-1"></i> About</a>
            </li>
            <li><a href="#/publicFriends"><i class="fa fa-fw fa-users"></i> Friends</a>
            </li>
        </ul>
    </div>
</div>