<ng-include src="'partials/menu/menu.html'"></ng-include>

<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <br>
            <h1 style="padding-left: 150px;">Account Setup</h1>
            </br>
            <div class="form-group">
                <label class="col-sm-3 control-label">First Name</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="First Name:">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Last Name</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Last Name:">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Email</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Email: ">
                </div>
            </div>
            <br>
            <h1 style="padding-left: 150px;">Social Profiles</h1>
            </br>
            <div class="form-group">
                <label class="col-sm-3 control-label">Facebook:</label>

                <div class="col-sm-9">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" id="inlineCheckboxF2" ng-model="yesFacebook">
                        <label for="inlineCheckboxF2">Yes</label>
                    </div>

                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" id="inlineCheckboxF3" ng-model="noFacebook">
                        <label for="inlineCheckboxF3">No</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Twitter:</label>

                <div class="col-sm-9">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" id="inlineCheckbo11xF2" ng-model="yesFacebook">
                        <label for="inlineCheckbo11xF2">Yes</label>
                    </div>

                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" id="inlineCheckboxF31ss" ng-model="noFacebook">
                        <label for="inlineCheckboxF31ss">No</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Linkedin:</label>

                <div class="col-sm-9">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" id="inlineCheckboxF222" ng-model="yesFacebook">
                        <label for="inlineCheckboxF222">Yes</label>
                    </div>

                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" id="inlineCheckboxF3121" ng-model="noFacebook">
                        <label for="inlineCheckboxF3121">No</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Google Plus:</label>

                <div class="col-sm-9">
                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" id="inlineCheckboxF233" ng-model="yesFacebook">
                        <label for="inlineCheckboxF233">Yes</label>
                    </div>

                    <div class="checkbox checkbox-success checkbox-inline">
                        <input type="checkbox" id="inlineCheckboxF3111" ng-model="noFacebook">
                        <label for="inlineCheckboxF3111">No</label>
                    </div>
                </div>
            </div>
            <br/>
            <h1 style="padding-left: 150px;">Config your profile</h1>
            <br/>
            <div class="form-group">
                <label class="col-sm-3 control-label">Profile Image:</label>

                <div class="col-sm-9">
                    <div class="radio radio-info radio-inline" >
                        <input type="radio" id="inlineRadio1"
                               ng-model="profileImage" value="facebook" name="radioInline1">
                        <label for="inlineRadio1">Facebook</label>
                    </div>
                    <div class="radio radio-info radio-inline" >
                        <input type="radio" id="inlineRadio2" ng-model="profileImage" value="twitter"
                               name="radioInline2">
                        <label for="inlineRadio2">Twitter</label>
                    </div>

                    <div class="radio radio-info radio-inline">
                        <input type="radio" id="inlineRadio3" ng-model="profileImage" value="linkedin"
                               name="radioInline3">
                        <label for="inlineRadio3">Linkedin</label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" id="inlineRadio4111" ng-model="profileImage" value="google">
                        <label for="inlineRadio4111">Google+</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Profile About:</label>

                <div class="col-sm-9">
                    <div class="radio radio-info radio-inline" >
                        <input type="radio" id="iinlineRadioAbout1"
                               ng-model="profileAbout" value="facebook" name="radioInline4">
                        <label for="iinlineRadioAbout1">Facebook</label>
                    </div>
                    <div class="radio radio-info radio-inline" >
                        <input type="radio" id="iinlineRadioAbout2" ng-model="profileAbout"
                               value="twitter" name="radioInline5">
                        <label for="iinlineRadioAbout2">Twitter</label>
                    </div>
                    <div class="radio radio-info radio-inline" >
                        <input type="radio" id="iinlineRadioAbout3" ng-model="profileAbout"
                               value="linkedin" name="radioInline6">
                        <label for="iinlineRadioAbout3">Linkedin</label>
                    </div>
                    <div class="radio radio-info radio-inline" >
                        <input type="radio" id="inlineRadio49" ng-model="profileAbout" value="google">
                        <label for="inlineRadio49">Google+</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Profile Friends</label>
                <div class="col-sm-9">
                <div class="radio radio-info radio-inline" >
                    <input type="radio" id="iinlineRadioFriend1"
                           ng-model="profileFriend" value="facebook" name="radioInline7">
                    <label for="iinlineRadioFriend1">Facebook</label>
                </div>
                <div class="radio radio-info radio-inline" >
                    <input type="radio" id="iinlineRadioFriend2" ng-model="profileFriend"
                           value="twitter" name="radioInline8">
                    <label for="iinlineRadioFriend2">Twitter</label>
                </div>

                <div class="radio radio-info radio-inline" >
                    <input type="radio" id="iinlineRadioFriend3" ng-model="profileFriend"
                           value="linkedin" name="radioInline9">
                    <label for="iinlineRadioFriend3">Linkedin</label>
                </div>
                <div class="radio radio-info radio-inline">
                    <input type="radio" id="inlineRadio439" ng-model="profileFriend" value="google">
                    <label for="inlineRadio439">Google+</label>
                </div>
                    </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Profile Name</label>
                <div class="col-sm-9">
                <div class="radio radio-info radio-inline" >
                    <input type="radio" id="inlineRadioName1"
                           ng-model="profileName" value="facebook" name="radioInline10">
                    <label for="inlineRadioName1">Facebook</label>
                </div>
                <div class="radio radio-info radio-inline" >
                    <input type="radio" id="inlineRadioName2" ng-model="profileName" value="twitter"
                           name="radioInline11">
                    <label for="inlineRadioName2">Twitter</label>
                </div>
                <div class="radio radio-info radio-inline" >
                    <input type="radio" id="inlineRadioName3" ng-model="profileName" value="linkedin"
                           name="radioInline12">
                    <label for="inlineRadioName3">Linkedin</label>
                </div>
                <div class="radio radio-info radio-inline" >
                    <input type="radio" id="inlineRadio2439" ng-model="profileName" value="google">
                    <label for="inlineRadio2439">Google+</label>
                </div>
                    </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Profile Cover</label>
                <div class="col-sm-9">
                <div class="radio radio-info radio-inline" >
                    <input type="radio" id="inlineRadioCover1"
                           ng-model="profileCover" value="facebook" name="radioInline13">
                    <label for="inlineRadioCover1">Facebook</label>
                </div>
                <div class="radio radio-info radio-inline">
                    <input type="radio" id="inlineRadioCover2" ng-model="profileCover" value="twitter"
                           name="radioInline14">
                    <label for="inlineRadioCover2">Twitter</label>
                </div>

                <div class="radio radio-info radio-inline" >
                    <input type="radio" id="inlineRadioCover3" ng-model="profileCover"
                           value="linkedin" name="radioInline15">
                    <label for="inlineRadioCover3">Linkedin</label>
                </div>
                <div class="radio radio-info radio-inline" >
                    <input type="radio" id="inlineRadio22439" ng-model="profileCover" value="google">
                    <label for="inlineRadio22439">Google+</label>
                </div>
                    </div>
            </div>

            <div class="form-group margin-none">
                <div >
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>

        </form>
    </div>
</div>