<ng-include src="'partials/menu/menu.html'"></ng-include>


<div id="content">

    <div class="st-pusher">
        <div class="st-content">
            <div class="container">
                <ng-include src="'partials/profile/coverProfile.html'"></ng-include>
                <div class="panel panel-default share">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <a class="btn btn-primary" href="#"><i class="fa fa-envelope"></i>Send</a>
                        </div>
                        <!-- /btn-group -->
                        <input type="text" class="form-control share-text" placeholder="Write message..."/>
                    </div>
                    <!-- /input-group -->
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-gray">
                                <a href="#" class="btn btn-white btn-xs pull-right"></a>
                                <i class="fa fa-fw fa-info-circle"></i> About
                            </div>
                            <div class="panel-body">
                                <ul class="list-unstyled profile-about margin-none">
                                    <li class="padding-v-5">
                                        <div class="row">
                                            <div class="col-sm-4"><span class="text-muted">Date of Birth</span>
                                            </div>
                                            <div class="col-sm-8">{{userProfile.birthday | date:'dd-MM HH:mm'}}</div>
                                        </div>
                                    </li>
                                    <li class="padding-v-5">
                                        <div class="row">
                                            <div class="col-sm-4"><span class="text-muted">Email</span>
                                            </div>
                                            <div class="col-sm-8">{{userProfile.email}}</div>
                                        </div>
                                    </li>
                                    <li class="padding-v-5">
                                        <div class="row">
                                            <div class="col-sm-4"><span class="text-muted">Gender</span>
                                            </div>
                                            <div class="col-sm-8">{{userProfile.gender}}</div>
                                        </div>
                                    </li>
                                    <li class="padding-v-5">
                                        <div class="row">
                                            <div class="col-sm-4"><span class="text-muted">Lives in</span>
                                            </div>
                                            <div class="col-sm-8">{{userProfile.location}}</div>
                                        </div>
                                    </li>
                                    <li class="padding-v-5">
                                        <div class="row">
                                            <div class="col-sm-4"><span
                                                    class="text-muted">Relationship Status</span>
                                            </div>
                                            <div class="col-sm-8">{{userProfile.statusRel}}</div>
                                        </div>
                                    </li>
                                    <!--<li class="padding-v-5">
                                        <div class="row">
                                            <div class="col-sm-4"><span
                                                    class="text-muted">About</span>
                                            </div>
                                            <div class="col-sm-8">{{userProfile.about}}</div>
                                        </div>
                                    </li>
                                    -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-gray">
                                <div class="pull-right">
                                    <a href="/social/#/publicFriends" class="btn btn-primary btn-xs">More friends</a>
                                </div>
                                <i class="icon-user-1"></i> Friends
                            </div>
                            <div class="panel-body">
                                <ul class="img-grid">
                                    <li ng-repeat="friend in friends">
                                        <a ng-href="{{friend.profileURL}}">
                                            <img ng-src="{{friend.profileImageUrl}}" width="70px" alt="image"/>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a ng-click="clickFIrstTab()" data-toggle="tab"> Photos</a>
                        </li>
                        <li><a ng-click="clickSecondTab()" data-toggle="tab"> Albums</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div ng-show="firstTab" class="tab-pane active">
                            <div class="tab-content">
                                <ul class="img-grid">
                                    <div class="tab-content">
                                        <li ng-repeat="photo in photosAlbums">
                                            <a ng-click="setIndexPhoto(0)">
                                                <img ng-src="{{photo.source}}" width="140px" height="100px"/>
                                            </a>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div ng-show="secondTab" class="tab-pane active">
                            <div class="tab-content">
                                <ul class="img-grid">
                                    <li ng-repeat="album in albums">
                                        <img ng-src="{{album.photoCover.picture}}" width="140px" height="100px"/>
                                        <a ng-click="showPhotosFromAlbum(album.album.id)">{{album.album.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
