<ng-include src="'partials/menu/menu.html'"></ng-include>
<form>
    <h1>Manage Social Network</h1>

    <a ng-hide="facebookVisible" ng-click="connectionFacebook()">
        <img src="images/loginFacebook.png"
             width="400"/>
    </a>

    <a ng-hide="linkedinHomeVisible" ng-click="connectionLinkedin()">
        <img src="images/loginLinkedin.png"
             width="400"/>
    </a>

    <a ng-hide="twitterVisible" ng-click="connectionTwitter()">
        <img src="images/loginTwitter.png"
             width="400"/>
    </a>

    <a  ng-hide="googleVisible" ng-click="connectionGoogle()">
        <img src="images/loginGoogle.png"
             width="400"/>
    </a>

</form>
