<ng-include src="'partials/menu/menu.html'"></ng-include>

<div class="container slider" ng-repeat="slide in slides" ng-hide="!isCurrentSlideIndex($index)">
    <div style="display: flex;">
        <img style="width: 700px;" ng-src="{{slide.photo.source}}">

        <div style="width:300px;">

            <div class="media-left">
                <div class="user-wrapper" style="display: -webkit-box;margin-left: 20px;margin-top: 20px;">
                    <img src="{{slide.profilePicture}}" alt="people" class="img-circle"
                         width="80"/>

                    <div style="  margin-top: 30px;font-size: 20px;margin-left: 5px;"><label>{{slide.profileName}}</label>
                    </div>
                </div>
            </div>
            <br/><br/><br/>
            <ul class="comments" style="list-style-type: none;">
                <li clas="media" ng-repeat="commentFeed in slide.commentFeeds track by $index">
                    <div class="media-left">
                        <a href="">
                            <img src="{{commentFeed.photoCommentFrom}}" width="50px" class="img-circle">
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="pull-right dropdown" data-show-hover="li">
                            <a href="#" data-toggle="dropdown" class="toggle-button">
                            </a>
                        </div>
                        <a href="" class="comment-author">{{commentFeed.comment.from.name}}</a>
                        <span>{{commentFeed.comment.message}}</span>

                    </div>
                </li>
                <br/>
                <li class="comment-form">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="slide.postText"/>
                                                                        <span class="input-group-btn">
                                <a ng-click="addCommentFacebook(slide)" class="btn btn-default"><img
                                        src="images/accept.png"/></a>
                            </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <a ng-click="prevSlide(slide)">Previous</a>
    <a ng-click="nextSlide(slide)">Next</a>

</div>


