<ng-include src="'partials/menu/menu.html'"></ng-include>

<div id="content">

    <div class="st-pusher">
        <div class="st-content">
            <div class="container">
                <ng-include src="'partials/profile/coverProfile.html'"></ng-include>
                <br/><br/>
                <div id="filter" style="display: inline-table;">
                    <form class="form-inline">
                        <label>Filter:</label>
                        <select ng-options="code as code.value for code in codes" style="font-weight: 400;" class="btn btn-primary"
                                ng-model="selectedItem" ng-change="update()"></select>
                        </select>
                        <div id="users-filter-trigger" style="display: -webkit-inline-box;">
                            <div ng-show="bySocialNetworkShow">
                                <select ng-options="sn as sn.value for sn in socialNetworks" style="font-weight: 400;" class="btn btn-primary"
                                        ng-model="selectedItemSocial"></select>
                                </select>
                            </div>
                            <div ng-show="byNameShow">
                                <input type="text" class="form-control" name="user-first" ng-model="name"
                                       placeholder="Write Name" id="name"/>
                            </div>
                            <div ng-show="byAgeShow">
                                <input type="text" class="form-control" name="user-first" ng-model="age1"
                                       placeholder="Write age" id="age1"/>
                                <label> - </label>
                                <input type="text" class="form-control" name="user-first" ng-model="age2"
                                       placeholder="Write age" id="age2"/>
                            </div>
                        </div>
                    </form>
                    <div class="input-group-btn">
                        <a class="btn btn-primary" ng-click="search()"><i class="fa fa-search"></i>Search</a>
                        <a class="btn btn-primary" ng-click="reset()"></i>Reset</a>
                    </div>
                </div>

                <div class="row" data-toggle="isotope" ng-show="twitterFriendsShow">
                    <div data-ng-repeat="friend in friendsTwitter  | orderBy: 'name'">
                        <app-showresults friend="{{friend}}"></app-showresults>
                    </div>
                </div>

                <div class="row" data-toggle="isotope" ng-show="googleFriendsShow">
                    <div data-ng-repeat="friend in friendsGoogle  | orderBy: 'name'">
                        <app-showresults friend="{{friend}}"></app-showresults>
                    </div>
                </div>

                <br/><br/>

                <div class="row" data-toggle="isotope" ng-show="facebookFriendsShow">
                    <div data-ng-repeat="friend in friendsFacebook | orderBy: 'name'">
                        <app-showresults></app-showresults>
                    </div>
                </div>

                <br/><br/>

                <!--<div class="row" data-toggle="isotope" ng-show="linkedinFriendsShow">-->
                    <!--<div data-ng-repeat="friend in friendsLinkedin | filter: filterFunctionLinkedin | orderBy: 'name'">-->
                        <!--<app-showresults friend="{{friend}}"></app-showresults>-->
                    <!--</div>-->
                <!--</div>-->

            </div>
        </div>
    </div>
</div>
</div>

