<ng-include src="'partials/menu/menu.html'"></ng-include>

<div id="content">

    <div class="st-pusher">
        <div class="st-content">
            <div class="container">
                <ng-include src="'partials/profile/coverProfile.html'"></ng-include>
                <br/><br/>
                <div id="filter">
                    <form class="form-inline">
                        <label>Filter:</label>
                        <select ng-options="code as code.value for code in codes" style="font-weight: 400;" class="btn btn-primary"
                                ng-model="selectedItem" ng-change="update()"></select>
                        </select>
                        <div id="users-filter-trigger">
                            <div ng-show="bySocialNetworkShow">
                                <select ng-options="sn as sn.value for sn in socialNetworks" style="font-weight: 400;" class="btn btn-primary"
                                        ng-model="selectedItemSocial" ng-change="changeSocial()"></select>
                                </select>
                            </div>
                            <div ng-show="byNameShow">
                                <input type="text" class="form-control" name="user-first" ng-model="name"
                                       placeholder="Write Name" id="name"  ng-change="changeName()"/>
                                <!--<a href="#" class="btn btn-default" id="user-search-name"><i class="fa fa-search"></i> Search</a>-->
                            </div>
                            <div ng-show="byJobShow">
                                <input type="text" class="form-control" name="user-first" ng-model="jobName"
                                       placeholder="Job Name" id="job" ng-change="changeJobName()"/>
                                <!--<a href="#" class="btn btn-default" id="user-search-job"><i class="fa fa-search"></i> Search</a>-->
                            </div>
                            <div ng-show="byCompanyShow">
                                <input type="text" class="form-control" name="user-first" ng-model="companyName"
                                       placeholder="Company Name" id="company" ng-change="changeCompanyName()"/>
                                <!--<a href="#" class="btn btn-default" id="user-search-company"><i class="fa fa-search"></i> Search</a>-->
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row" data-toggle="isotope" ng-show="facebookFriendsShow">
                    <h1>Facebook</h1>
                    <div data-ng-repeat="friend in friendsFacebook | filter: filterFunctionFacebook | orderBy: 'name'">
                        <app-showresults></app-showresults>
                    </div>
                </div>
                <br/><br/>

                <div class="row" data-toggle="isotope" ng-show="twitterFriendsShow">
                    <h1>Twitter</h1>
                    <div data-ng-repeat="friend in friendsTwitter | filter: filterFunctionTwitter | orderBy: 'name'">
                        <app-showresults friend="{{friend}}"></app-showresults>
                    </div>
                </div>


                <br/><br/>

                <div class="row" data-toggle="isotope" ng-show="linkedinFriendsShow">
                    <h1>Linkedin</h1>
                    <div data-ng-repeat="friend in friendsLinkedin | filter: filterFunctionLinkedin | orderBy: 'name'">
                        <app-showresults friend="{{friend}}"></app-showresults>
                    </div>
                </div>

                <!--<app-showresults></app-showresults>-->
                <!--<app-showresults></app-showresults>-->
                <!--<div class="item col-lg-4 col-md-6 col-xs-12">-->
                <!--<div class="panel panel-default">-->
                <!--<div class="panel-body">-->
                <!--<h4 class="panel-title">Twiiter Friends</h4>-->
                <!--</div>-->

                <!--<ul class="list-group">-->
                <!--<li class="list-group-item" ng-repeat="friend in friendsTwitter">-->
                <!--<div>-->
                <!--<img ng-src="{{friend.profileImageUrl}}" width="48" height="48"-->
                <!--align="left"/>-->
                <!--<a ng-href="'http://twitter.com/' + {{friend.screenName}}"-->
                <!--class="overlay overlay-full overlay-hover overlay-bg-white">-->
                <!--<span class="v-center">-->
                <!--<span class="text-h4">{{friend.screenName}}</span>-->
                <!--</span>-->
                <!--</a>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="item col-lg-4 col-md-6 col-xs-12">-->
                <!--<div class="panel panel-default">-->
                <!--<div class="panel-body">-->
                <!--<h4 class="panel-title">Facebook Friends</h4>-->
                <!--</div>-->

                <!--<ul class="list-group">-->
                <!--<li class="list-group-item" ng-repeat="friend in friendsFacebook">-->
                <!--<div>-->
                <!--<img ng-src="{{friend.profileImageUrl}}" width="48" height="48"-->
                <!--align="left"/>-->
                <!--<a ng-href="'http://graph.facebook.com/' + {{friend.id}} + '/picture"-->
                <!--class="overlay overlay-full overlay-hover overlay-bg-white">-->
                <!--<span class="v-center">-->
                <!--<span class="text-h4">{{friend.name}}</span>-->
                <!--</span>-->
                <!--</a>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="item col-lg-4 col-md-6 col-xs-12">-->
                <!--<div class="panel panel-default">-->
                <!--<div class="panel-body">-->
                <!--<h4 class="panel-title">Linkedin Friends</h4>-->
                <!--</div>-->

                <!--<ul class="list-group">-->
                <!--<li class="list-group-item" ng-repeat="friend in friendsLinkedin">-->
                <!--<div>-->
                <!--<img ng-src="{{friend.profilePictureUrl}}" width="48" height="48"-->
                <!--align="left"/>-->
                <!--<a ng-href="'http://twitter.com/' + {{friend.firstName}}"-->
                <!--class="overlay overlay-full overlay-hover overlay-bg-white">-->
                <!--<span class="v-center">-->
                <!--<span class="text-h4">{{friend.firstName}} {{friend.lastName}}</span>-->
                <!--</span>-->
                <!--</a>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
</div>

