<div class="media-left" style="text-align: center;position: relative;z-index: 2; ">
    <div class="user-wrapper">
        <img style="margin-left: 25px;" src="{{feed.photoFrom}}" alt="people" class="img-circle" width="80"/>

        <div><a style="background: #fff;font-weight: 700;border: 1px solid #e8e8e8;padding: 4px;border-radius: 5px;margin-top: 5px;display: inline-block"
                href="#"> {{feed.from.name}}</a>
        </div>
        <div style="background: #fff;font-weight: 700;border: 1px solid #e8e8e8;padding: 4px;border-radius: 5px;margin-top: 5px;display: inline-block"
             class="date">{{feed.createdTime | date:'dd-MM HH:mm'}}</div>
    </div>
</div>
<div class="media-body">
    <div class="media-body-wrapper">
        <div class="row">
            <div class="col-md-18">
                <div class="panel panel-default">
                    <br/>
                    <h4 style="margin-left: 10px;">{{feed.message}}</h4>
                    <br/>
                    <div class="profile-icons">
                        <a ng-click="addLike(feed)"
                           ng-show="feed.likeShow" style="color:blue;margin-left: 10px;">Like</a>
                        <a ng-click="unlike(feed)"
                           ng-hide="feed.likeShow" style="color:blue;margin-left: 10px;">Unlike</a>
                        <span><i class="fa fa-users"></i> {{feed.likesCount}} Likes</span>
                        <span><i class="fa fa-users"></i> {{feed.commentsCount}} Comments</span>
                        <img src="images/social/facebook-icon.png"
                             class="img-circle" width="30" style="margin-left: 35px;"/>
                    </div>
                    <br/>
                    <ul class="comments">
                        <li clas="media" ng-repeat="commentFeed in feed.commentsFeeds track by $index">
                            <div class="media-left">
                                <a href="">
                                    <img src="{{commentFeed.photoCommentFrom}}" width="50px" class="img-circle">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="pull-right dropdown" data-show-hover="li">
                                    <a href="#" data-toggle="dropdown" class="toggle-button">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </div>
                                <a href="" class="comment-author">{{commentFeed.comment.from.name}}</a>
                                <span>{{commentFeed.comment.message}}</span>

                                <div class="comment-date">{{commentFeed.commentDate}}</div>
                            </div>
                        </li>
                        <li class="comment-form">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="feed.postText"/>
                                                                        <span class="input-group-btn">
                                <a ng-click="addComment(feed)" class="btn btn-default"><img src="images/accept.png"/></a>
                            </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>