<ng-include src="'partials/menu/menu.html'"></ng-include>


<div id="content">

    <div class="st-pusher">
        <div class="st-content">
            <div class="container">
                <ng-include src="'partials/profile/coverProfile.html'"></ng-include>

                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <ul class="timeline-list">
                                <li class="media media-clearfix-xs">
                                    <div class="media-left">
                                        <div class="user-wrapper">
                                            <img src="{{profileImage}}" alt="people" class="img-circle"
                                                 width="80"/>

                                            <div><a href="#">{{userProfile.fullName}}</a>
                                            </div>
                                            <div class="date"> {{date | date:'dd-MM'}}</div>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div class="media-body-wrapper">
                                            <div class="row">
                                                <div class="col-md-10 col-lg-8">
                                                    <div class="panel panel-default share clearfix-xs">
                                                        <div class="panel-heading panel-heading-gray title">
                                                            What&acute;s new
                                                        </div>
                                                        <div class="panel-body">
                                                            <textarea name="status" class="form-control share-text"
                                                                      rows="3" ng-change="changePost()"
                                                                      ng-model="postText" style="margin: 0px; width: 650px; height: 61px;"
                                                                      placeholder="Share your status..."></textarea>
                                                        </div>
                                                        <div class="panel-footer share-buttons">
                                                            <a href="#"><i class="fa fa-map-marker"></i></a>
                                                            <a href="#"><i class="fa fa-photo"></i></a>
                                                            <a href="#"><i class="fa fa-video-camera"></i></a>
                                                            <button type="submit" ng-show="postVisible" ng-click="postAction()"
                                                                    class="btn btn-primary btn-xs pull-right"
                                                                    href="#">Post
                                                            </button>

                                                            <a ng-click="refresh()">
                                                                <i class="fa fa-refresh"></i>
                                                            </a>

                                                            <a ng-show="facebookVisible" ng-click="clickFacebook()"
                                                               class="{{classFacebook}}">
                                                                <i class="icon-facebook"></i>
                                                            </a>
                                                            <a ng-show="twitterVisible" ng-click="clickTwitter()"
                                                               class="{{classTwitter}}">
                                                                <i class="icon-twitter"></i>
                                                            </a>
                                                            <a ng-show="linkedinVisible" ng-click="clickLinkedin()"
                                                               class="{{classLinkedin}}">
                                                                <i class="icon-linkedin"></i>
                                                            </a>
                                                            <a ng-show="googleVisible" ng-click="clickGoogle()"
                                                               class="{{classGoogle}}">
                                                                <i class="icon-google-plus"></i>
                                                            </a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                </li>
                                <li ng-repeat="feed in feedFacebook track by $index" class="media media-clearfix-x">
                                    <div ng-if="feed.feedType == 'PHOTO'">
                                        <div ng-include="'partials/feeds/feedPhotoPostF.html'"></div>
                                    </div>
                                    <div ng-if="feed.feedType == 'VIDEO'">
                                        <ng-include src="'partials/feeds/feedVideoPostF.html'"></ng-include>
                                    </div>
                                    <div ng-if="feed.feedType == 'StatusFromTo'">
                                        <ng-include src="'partials/feeds/feedStatusFromTo.html'"></ng-include>
                                    </div>
                                    <div ng-if="feed.feedType == 'StatusOnlyFrom'">
                                        <ng-include src="'partials/feeds/feedStatusOnlyFrom.html'"></ng-include>
                                    </div>
                                    <div ng-if="feed.feedType == 'StatusStory'">
                                        <ng-include src="'partials/feeds/feedStatusStory.html'"></ng-include>
                                    </div>
                                    <div ng-if="feed.feedType == 'tweet'">
                                        <div ng-include="'partials/feeds/tweet.html'"></div>
                                    </div>
                                    <div ng-if="feed.feedType == 'retweet'">
                                        <div ng-include="'partials/feeds/retweet.html'"></div>
                                    </div>
                                    <div ng-if="feed.feedType == 'photoGoogle'">
                                        <div ng-include="'partials/feeds/feedPhotoGoogle.html'"></div>
                                    </div>
                                    <div ng-if="feed.feedType == 'videoGoogle'">
                                        <div ng-include="'partials/feeds/feedVideoGoogle.html'"></div>
                                    </div>
                                    <div ng-if="feed.feedType == 'articleGoogle'">
                                        <div ng-include="'partials/feeds/feedArticleGoogle.html'"></div>
                                    </div>
                                    <div ng-if="feed.SNFeed.socialNetworkType == 'dizerpic'">
                                        <ng-include src="'partials/feeds/feedDizerpic.html'"></ng-include>
                                    </div>
                                </li>
                            </ul>
                        </div>



                        <div class="col-md-18">
                        <div style="margin-bottom: 15px;padding-bottom: 15px">
                            <form class="form-inline">
                                <label>Filter:</label>
                                <select ng-options="code as code.value for code in codes" style="font-weight: 400;" class="btn btn-primary"
                                        ng-model="selectedItem" ng-change="update()"></select>
                                </select>
                                <div id="users-filter-trigger">
                                    <div ng-show="bySocialNetworkShow">
                                        <select ng-options="sn as sn.value for sn in socialNetworks" style="font-weight: 400;" class="btn btn-primary"
                                                ng-model="selectedItemSocial" ng-change="changeSocial()"></select>
                                        </select>
                                    </div>
                                    <div ng-show="byNameShow">
                                        <input type="text" class="form-control" name="user-first" ng-model="name"
                                               placeholder="Write Name" id="name"  ng-change="changeName()"/>
                                        <!--<a href="#" class="btn btn-default" id="user-search-name"><i class="fa fa-search"></i> Search</a>-->
                                    </div>
                                    <div ng-show="byJobShow">
                                        <input type="text" class="form-control" name="user-first" ng-model="jobName"
                                               placeholder="Job Name" id="job" ng-change="changeJobName()"/>
                                        <!--<a href="#" class="btn btn-default" id="user-search-job"><i class="fa fa-search"></i> Search</a>-->
                                    </div>
                                    <div ng-show="byCompanyShow">
                                        <input type="text" class="form-control" name="user-first" ng-model="companyName"
                                               placeholder="Company Name" id="company" ng-change="changeCompanyName()"/>
                                        <!--<a href="#" class="btn btn-default" id="user-search-company"><i class="fa fa-search"></i> Search</a>-->
                                    </div>
                                </div>
                                <!--<button ng-show="buttonSearch" class="btn btn-primary" ng-click="search()">Search</button>-->
                                <a ng-click="search()" ng-show="buttonSearch" class="btn btn-default"
                                   id="user-search-name"><i class="fa fa-search"></i> Search</a>
                            </form>
                        </div>
                        </div>

                    </div>
                </div>
                <!--</li>-->
                <!--</ul>-->
            </div>
            <!--<div class="col-md-3">-->
            <!--<ul class="nav timeline-months">-->
            <!--<li class="active"><a href="#october"><i class="fa fa-calendar fa-fw"></i>October</a>-->
            <!--</li>-->
            <!--<li><a href="#september"><i class="fa fa-calendar fa-fw"></i>September</a>-->
            <!--</li>-->
            <!--<li><a href="#august"><i class="fa fa-calendar fa-fw"></i>August</a>-->
            <!--</li>-->
            <!--<li><a href="#july"><i class="fa fa-calendar fa-fw"></i>July</a>-->
            <!--</li>-->
            <!--<li><a href="#june"><i class="fa fa-calendar fa-fw"></i>June</a>-->
            <!--</li>-->
            <!--<li><a href="#may"><i class="fa fa-calendar fa-fw"></i>May</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
        </div>
    </div>

    <!--<div class="row" data-toggle="isotope">-->
    <!--<div class="item col-lg-4 col-md-6 col-xs-12">-->
    <!--<div class="panel panel-default">-->
    <!--<div class="panel-body">-->
    <!--<h4 class="panel-title">Twiiter Feeds</h4>-->
    <!--</div>-->

    <!--<ul class="list-group">-->
    <!--<li class="list-group-item" ng-repeat="feed in feedTwitter">-->
    <!--<div>-->
    <!--<img ng-src="{{feed.profileImageUrl}}" width="48" height="48" align="left"/>-->
    <!--<span class="v-center">-->
    <!--<span class="text-h4">{{feed.text}}</span>-->
    <!--</span>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="item col-lg-4 col-md-6 col-xs-12">-->
    <!--<div class="panel panel-default">-->
    <!--<div class="panel-body">-->
    <!--<h4 class="panel-title">Facebook Feeds</h4>-->
    <!--</div>-->

    <!--<ul class="list-group">-->
    <!--<li class="list-group-item" ng-repeat="feed in feedFacebook">-->
    <!--<div>-->
    <!--<img ng-src="{{feed.profileImageUrl}}" width="48" height="48" align="left"/>-->
    <!--<span class="v-center">-->
    <!--<span class="text-h4">{{feed.name}}</span>-->
    <!--</span>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="item col-lg-4 col-md-6 col-xs-12">-->
    <!--<div class="panel panel-default">-->
    <!--<div class="panel-body">-->
    <!--<h4 class="panel-title">Linkedin Feeds</h4>-->
    <!--</div>-->

    <!--<ul class="list-group">-->
    <!--<li class="list-group-item" ng-repeat="feed in feedLinkedin">-->
    <!--<div>-->
    <!--<img ng-src="{{feed.profileImageUrl}}" width="48" height="48" align="left"/>-->
    <!--<span class="v-center">-->
    <!--<span class="text-h4">{{feed.text}}</span>-->
    <!--</span>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>
</div>
</div>
</div>

