<ng-include src="'partials/menu/menu.html'"></ng-include>


    <div class="container-fluid">
        <div class="jumbotron bg-transparent text-center margin-none">
            <h1>Manage social network</h1>
        </div>
        <div class="row" data-toggle="isotope">
            <div class="item col-lg-4 col-md-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="panel-title">Twiiter Feeds</h4>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="feed in feedTwitter">
                            <div>
                                <img ng-src="{{feed.profileImageUrl}}" width="48" height="48" align="left"/>
                                <a class="overlay overlay-full overlay-hover overlay-bg-white">
                                        <span class="v-center">
                                <span class="text-h4">{{feed.text}}</span>
                                        </span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item col-lg-4 col-md-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="panel-title">Facebook Feeds</h4>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="feed in feedFacebook">
                            <div>
                                <img src="/{{feed.id}}" width="48" height="48" align="left"/>
                                <a ng-href="'http://graph.facebook.com/' + {{feed.id}} + '/picture" class="overlay overlay-full overlay-hover overlay-bg-white">
                                        <span class="v-center">
                                <span class="text-h4">{{friend.name}}</span>
                                        </span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item col-lg-4 col-md-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="panel-title">Linkedin Feeds</h4>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="feed in feedLinkedin">
                            <div>
                                <img ng-src="{{feed.profileImageUrl}}" width="48" height="48" align="left"/>
                                <a ng-href="'http://twitter.com/' + {{feed.firstName}}" class="overlay overlay-full overlay-hover overlay-bg-white">
                                        <span class="v-center">
                                <span class="text-h4">{{feed.text}}</span>
                                        </span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
