<ng-include src="'partials/menu/menu.html'"></ng-include>


<div id="content">

    <div class="st-pusher">
        <div class="st-content">
            <div class="container">
                <ng-include src="'partials/profile/coverProfile.html'"></ng-include>

                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <ul class="timeline-list">
                                <li class="media media-clearfix-xs">
                                    <div class="media-left">
                                        <div class="user-wrapper">
                                            <img src="{{profileImage}}" alt="people" class="img-circle"
                                                 width="80"/>

                                            <div><a href="#">{{userProfile.fullName}}</a>
                                            </div>
                                            <div class="date"> {{date | date:'dd-MM'}}</div>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div class="media-body-wrapper">
                                            <div class="row">
                                                <div class="col-md-10 col-lg-8">
                                                    <div class="panel panel-default share clearfix-xs">
                                                        <div class="panel-heading panel-heading-gray title">
                                                            What&acute;s new
                                                        </div>
                                                        <div class="panel-body">
                                                            <textarea name="status" class="form-control share-text"
                                                                      rows="3"
                                                                      placeholder="Share your status..."></textarea>
                                                        </div>
                                                        <div class="panel-footer share-buttons">
                                                            <a href="#"><i class="fa fa-map-marker"></i></a>
                                                            <a href="#"><i class="fa fa-photo"></i></a>
                                                            <a href="#"><i class="fa fa-video-camera"></i></a>
                                                            <button type="submit"
                                                                    class="btn btn-primary btn-xs pull-right display-none"
                                                                    href="#">Post
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                                <li ng-repeat="feed in feedFacebook" class="media media-clearfix-x" >
                                    <div ng-if="feed.feedType == 'PHOTO'">
                                       <div ng-include ="'partials/feeds/feedPhotoPostF.html'"></div>
                                    </div>
                                    <div ng-if="feed.feedType == 'VIDEO'">
                                        <ng-include src="'partials/feeds/feedVideoPostF.html'"></ng-include>
                                    </div>
                                    <div ng-if="feed.feedType == 'StatusFromTo'">
                                        <ng-include src="'partials/feeds/feedStatusFromTo.html'"></ng-include>
                                    </div>
                                    <div ng-if="feed.feedType == 'StatusOnlyFrom'">
                                        <ng-include src="'partials/feeds/feedStatusOnlyFrom.html'"></ng-include>
                                    </div>
                                    <div ng-if="feed.feedType == 'StatusStory'">
                                        <ng-include src="'partials/feeds/feedStatusStory.html'"></ng-include>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--</li>-->
                <!--</ul>-->
            </div>
            <!--<div class="col-md-3">-->
                <!--<ul class="nav timeline-months">-->
                    <!--<li class="active"><a href="#october"><i class="fa fa-calendar fa-fw"></i>October</a>-->
                    <!--</li>-->
                    <!--<li><a href="#september"><i class="fa fa-calendar fa-fw"></i>September</a>-->
                    <!--</li>-->
                    <!--<li><a href="#august"><i class="fa fa-calendar fa-fw"></i>August</a>-->
                    <!--</li>-->
                    <!--<li><a href="#july"><i class="fa fa-calendar fa-fw"></i>July</a>-->
                    <!--</li>-->
                    <!--<li><a href="#june"><i class="fa fa-calendar fa-fw"></i>June</a>-->
                    <!--</li>-->
                    <!--<li><a href="#may"><i class="fa fa-calendar fa-fw"></i>May</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        </div>
    </div>

    <!--<div class="row" data-toggle="isotope">-->
    <!--<div class="item col-lg-4 col-md-6 col-xs-12">-->
    <!--<div class="panel panel-default">-->
    <!--<div class="panel-body">-->
    <!--<h4 class="panel-title">Twiiter Feeds</h4>-->
    <!--</div>-->

    <!--<ul class="list-group">-->
    <!--<li class="list-group-item" ng-repeat="feed in feedTwitter">-->
    <!--<div>-->
    <!--<img ng-src="{{feed.profileImageUrl}}" width="48" height="48" align="left"/>-->
    <!--<span class="v-center">-->
    <!--<span class="text-h4">{{feed.text}}</span>-->
    <!--</span>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="item col-lg-4 col-md-6 col-xs-12">-->
    <!--<div class="panel panel-default">-->
    <!--<div class="panel-body">-->
    <!--<h4 class="panel-title">Facebook Feeds</h4>-->
    <!--</div>-->

    <!--<ul class="list-group">-->
    <!--<li class="list-group-item" ng-repeat="feed in feedFacebook">-->
    <!--<div>-->
    <!--<img ng-src="{{feed.profileImageUrl}}" width="48" height="48" align="left"/>-->
    <!--<span class="v-center">-->
    <!--<span class="text-h4">{{feed.name}}</span>-->
    <!--</span>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="item col-lg-4 col-md-6 col-xs-12">-->
    <!--<div class="panel panel-default">-->
    <!--<div class="panel-body">-->
    <!--<h4 class="panel-title">Linkedin Feeds</h4>-->
    <!--</div>-->

    <!--<ul class="list-group">-->
    <!--<li class="list-group-item" ng-repeat="feed in feedLinkedin">-->
    <!--<div>-->
    <!--<img ng-src="{{feed.profileImageUrl}}" width="48" height="48" align="left"/>-->
    <!--<span class="v-center">-->
    <!--<span class="text-h4">{{feed.text}}</span>-->
    <!--</span>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>
</div>
</div>
</div>

