<div id="content">
    <div data-scrollable>
                <div class="item col-lg-4 col-md-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4 class="panel-title">Settingst</h4>
                        </div>

                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="index.html">
                                                <span class="v-center">
                                           <span class="text-h1">Profile</span>
                                                </span>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="layout-fluid-no-sidebar.html">
                                                <span class="v-center">
                                <span class="text-h1">Manage social network</span>
                                                </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

</div>
