<div class="st-container">
    <div class="navbar navbar-main navbar-primary navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Public User Pages</li>
                            <li><a href="user-public-timeline.html">Timeline</a>
                            </li>
                            <li><a href="user-public-profile.html">About</a>
                            </li>
                            <li><a href="user-public-users.html">Friends</a>
                            </li>
                            <li class="dropdown-header">Private User Pages</li>
                            <li><a href="user-private-messages.html">Messages</a>
                            </li>
                            <li><a href="user-private-profile.html">Profile</a>
                            </li>
                            <li class="active"><a href="index.html">Timeline</a>
                            </li>
                            <li><a href="#/privateFriends">Friends</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav  navbar-right ">

                    <!-- User -->
                    <li class="dropdown">
                        <a class="dropdown-toggle user" data-toggle="dropdown">
                            <div ng-show="facebookVisible" style=" display: initial;">
                                <img src="images/social/facebook-icon.png"
                                     class="img-circle" width="40"/>
                            </div>
                            <div ng-show="twitterVisible" style=" display: initial;">
                                <img src="images/social/twiiter-icon.png"
                                     class="img-circle" width="40"/>
                            </div>
                            <div ng-show="linkedinVisible" style=" display: initial;">
                                <img src="images/social/linkedin-icon.png"
                                     class="img-circle" width="40"/>
                            </div>

                            <!--<img src="images/social/google-icon.png"-->
                            <!--class="img-circle" width="40"/>-->
                            Ciprian Paraschivescu <span
                                class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/profile">Profile</a>
                            </li>
                            <li><a href="#/settings">Settings</a>
                            </li>
                            <li><a href="user-private-messages.html">Messages</a>
                            </li>
                            <li><a href="#/logout">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br/><br/><br/><br/>
