<div class="st-container">
    <div class="navbar navbar-main navbar-primary navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse" id="main-nav">

                <ul class="nav navbar-nav  navbar-right ">

                    <!-- User -->
                    <li class="dropdown">
                        <a class="dropdown-toggle user" data-toggle="dropdown">
                            <div ng-show="facebookVisible" style=" display: initial;">
                                <img src="images/social/facebook-icon.png"
                                     class="img-circle" width="40"/>
                            </div>
                            <div ng-show="twitterVisible" style=" display: initial;">
                                <img src="images/social/twiiter-icon.png"
                                     class="img-circle" width="40"/>
                            </div>
                            <div ng-show="linkedinVisible" style=" display: initial;">
                                <img src="images/social/linkedin-icon.png"
                                     class="img-circle" width="40"/>
                            </div>
                            <div ng-show="googleVisible" style=" display: initial;">
                                <img src="images/social/google-icon.png"
                                     class="img-circle" width="40"/>
                            </div>

                            {{userProfile.fullName}}<span
                                class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/profile">Profile</a>
                            </li>
                            <li><a href="#/editProfile">Settings</a>
                            </li>
                            <li><a ng-click="logout()">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br/><br/><br/><br/>
