<!--<nav ng-controller="LoginCtrl" class="navbar navbar-default" role="navigation">-->
<!--<div class="navbar-header">-->
<!--<a class="navbar-brand" href="#">DizerPic</a>-->
<!--</div>-->

<!--<ul class="nav navbar-nav navbar-right">-->
<!--<li><a href="#/admin/users"> <i class="icon-pencil icon-wrench"></i> Users</a></li>-->
<!--<li><a href="#/admin/logs"> <i class="icon-pencil icon-wrench"></i> Logs</a></li>-->
<!--<li><a href="#/admin/metrics"> <i class="icon-pencil icon-wrench"></i> Metrics</a></li>-->
<!--<li class="dropdown">-->
<!--<a class="dropdown-toggle" data-toggle="dropdown">Firstname Lastname <b class="caret"></b></a>-->
<!--<ul class="dropdown-menu">-->
<!--<li><a href="#"> <i class="icon-pencil icon-wrench"></i> Settings</a></li>-->
<!--<li class="divider"></li>-->
<!--<li><a href="#"><i class="icon-pencil icon-signout"></i> Logout</a></li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</nav>-->

<div class="st-container">
    <div class="navbar navbar-main navbar-primary navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Public User Pages</li>
                            <li><a href="user-public-timeline.html">Timeline</a>
                            </li>
                            <li><a href="user-public-profile.html">About</a>
                            </li>
                            <li><a href="user-public-users.html">Friends</a>
                            </li>
                            <li class="dropdown-header">Private User Pages</li>
                            <li><a href="user-private-messages.html">Messages</a>
                            </li>
                            <li><a href="user-private-profile.html">Profile</a>
                            </li>
                            <li class="active"><a href="index.html">Timeline</a>
                            </li>
                            <li><a href="user-private-users.html">Friends</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav  navbar-right ">
                    <li class="hidden-xs">
                        <a  data-toggle="sidebar-menu">
                            <i class="fa fa-comments"></i>
                        </a>
                    </li>
                    <!-- User -->
                    <li class="dropdown">
                        <a class="dropdown-toggle user" data-toggle="dropdown">
                            <img src="images/people/110/guy-5.jpg" alt="Bill" class="img-circle" width="40"/> Bill <span
                                class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="user-private-profile.html">Profile</a>
                            </li>
                            <li><a href="user-private-messages.html">Messages</a>
                            </li>
                            <li><a href="login.html">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
