<div class="col-md-6 col-lg-4 item">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="media">
                <div class="pull-left">
                    <img src="{{profileImageUrl}}" alt="people" class="media-object img-circle"/>
                </div>
                <div class="media-body">
                    <h4 class="media-heading margin-v-5"><a href="{{profileURL}}">{{screenName}}</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <img src="{{socialNetworkTypePicture}}" width="200"/>
        </div>
    </div>
</div>