<ng-include src="'partials/menu/menu.html'"></ng-include>


<div id="content">
    <ng-include src="'partials/menu/menuSettings.html'"></ng-include>
    <div class="item col-lg-4 col-md-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4 class="panel-title">Basic Fluid Layout</h4>
            </div>
            <div class="panel-footer">Most simple and common fluid layouts to get started from.</div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="cover overlay hover cover-image-full">
                        <img src="images/choose/1-sidebar-left.jpg" alt="Buttons" />
                        <a href="index.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                                                <span class="v-center">
                                <span class="text-h1">1 Sidebar</span>
                                                </span>
                        </a>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="cover overlay hover cover-image-full">
                        <img src="images/choose/no-sidebar.jpg" alt="Buttons" />
                        <a href="layout-fluid-no-sidebar.html" class="overlay overlay-full overlay-hover overlay-bg-white">
                                                <span class="v-center">
                                <span class="text-h1">No Sidebar</span>
                                                </span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
