<ng-include src="'partials/menu/menu.html'"></ng-include>


<div id="content">
    <!--<ng-include src="'partials/menu/menuSettings.html'"></ng-include>-->
    <div ng-controller="SettingsCtrl">
        <div ng-switch="step">
            <div ng-switch-when="1">
                // here you can include your step 1 template , or simply just hardcode it here :
                <div ng-include src="'partials/settings/step1.html'"></div>
                <button ng-click="setStep(1)">Step2</button>
            </div>
            <div ng-switch-when="2">
                <div ng-include src="'partials/settings/step2.html'"></div>
                <button ng-click="setStep(2)">Step3</button>
            </div>
            <div ng-switch-when="3">
                <div ng-include src="'partials/settings/step3.html'"></div>
                <button ng-click="setStep(3)">Finish</button>
            </div>

        </div>
    </div>
</div>
