<div class="page-section-heading">
    <h2 class="text-h3 margin-v-0">Social Profiles</h2>

    <h3 class="text-h4 margin-v-10 text-grey-400">Your presence on social
        networks</h3>
</div>
<div class="form-group form-control-default">
    <label for="wiz-twitter">Twitter:</label>
    <input class="form-control" type="text" id="wiz-twitter" placeholder="Twitter"/>
</div>
<div class="form-group form-control-default">
    <label for="wiz-facebook">Facebook:</label>
    <input class="form-control" type="text" id="wiz-facebook"
           placeholder="Facebook"/>
</div>
<div class="form-group form-control-default">
    <label for="wiz-gplus">Google Plus:</label>
    <input class="form-control" type="text" id="wiz-gplus"
           placeholder="Google Plus"/>
</div>
<button type="button" class="wiz-prev btn btn-default" ng-click="setStepBack(2)">
    Previous
</button>
<button type="button" class="wiz-next btn btn-primary" ng-click="setStep(2)">Next
</button>